# Android build artifacts
build/
**/build/
.gradle/
local.properties
*.apk
*.aab

# Sensitive / credentials
google-services.json
GoogleService-Info.plist
*.jks
keystore.properties
secrets.properties

# macOS
.DS_Store
**/.DS_Store

# iOS
iosApp/Pods/
iosApp/.build/
*.xcworkspace
xcuserdata/
DerivedData/

# KMP/Compose Multiplatform
.kotlin/
composeApp/build/

# Local JDK
jdk-17.0.10+7/
jdk17.tar.gz

# IDE
.idea/
*.iml
iosApp/xcode-frameworks/
